<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="apps.moviles.enseanza">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Enseñanza">
        <activity android:name=".PantallaRecordarUsuario"></activity>
        <activity android:name=".PantallaTutoriales" />
        <activity android:name=".PantallaTutorial" />
        <activity android:name=".PantallaClaseGrabada" />
        <activity android:name=".PantallaClasesGrabadas" />
        <activity android:name=".PantallaClases" />
        <activity android:name=".PantallaClase" />
        <activity android:name=".PantallaMensaje" />
        <activity android:name=".PantallaPrincipal" />
        <activity android:name=".PantallaMensajes" />
        <activity android:name=".PantallaPerfil" />
        <activity android:name=".PantallaConectar" />
        <activity android:name=".PantallaLogin_2" />
        <activity android:name=".PantallaRegistrate" />
        <activity android:name=".PantallaLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>